# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env*

# gatsby files
.cache/
public

# Yarn
yarn-error.log
.pnp/
.pnp.js
# Yarn Integrity file
.yarn-integrity

# graphql schema
schema.graphql

# additional resources
resources
