@import "~normalize.css/normalize.css";
@import "../variables";

button {
    background: none;
    border: 0;
    padding: 0;

    color: inherit;

    overflow: visible;
    cursor: pointer;
    outline: none;
}

@font-face {
    font-family: 'Pirata One';
    src: url('../fonts/PirataOne-Regular.woff2') format('woff2'),
    url('../fonts/PirataOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Livvic', sans-serif;
    font-size: 1.2em;
    background-color: $color-background;
    color: $color-text;
}

h1, h2 {
    font-family: 'Fondamento', sans-serif;
    margin-top: .5em;
    margin-bottom: .2em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-family: 'Fondamento', sans-serif;
    font-size: 1.2em;
}

p {
    text-align: justify;
    hyphens: manual;
    margin-top: 0;
    margin-bottom: .5em;
}

a {
    text-decoration: none;
    color: darken($color-primary, 20%);
    font-weight: 800;
    outline: none;
}

a:hover, a:focus {
    text-decoration: underline;
}
