@import "~normalize.css";
@import "../variables";

button {
    background: none;
    border: 0;
    padding: 0;

    color: inherit;

    overflow: visible;
    cursor: pointer;
    outline: none;
}

body {
    margin: 0;

    font-family: sans-serif;
    background-color: $color-background;
    color: $color-text;
}

p {
    text-align: justify;
    hyphens: manual;
}

a {
    text-decoration: none;
    color: darken($color-primary, 20%);
    font-weight: 800;
}

a:hover, a:focus {
    text-decoration: underline;
}
