@import "../variables";

.main {
    border: 1px solid $color-primary;
    border-radius: .5rem;
    background-color: lighten($color-primary, 15%);
    color: $color-text;
    text-shadow: none;

    padding: 1.5rem;
}
