@import "../variables";

.main {
    width: 100%;
}

.box {
    position: absolute;
    opacity: 0;
}

.label {
    font-size: 1.2em;
    display: flex;
    cursor: pointer;

    align-items: baseline;
}

.checkMark {
    width: 1em;
    height: 1em;
    border: 1px solid $color-input-border;
    border-radius: .2rem;
    margin: .2rem;
    background-color: $color-input-background;
}

.main:hover .checkMark,
.box:focus + .label .checkMark {
    border-color: $color-input-border-active;
    box-shadow: $shadow-input-active;
}

.box:not(:checked) + .label .checkMark {
    color: $color-input-background;
}
