@import "../variables";

.toggler {
    width: 100%;
    font-size: 1.3em;
    padding: .5rem 0;

    user-select: text;
    display: flex;
    justify-content: space-between;

    hyphens: none;
    text-align: left;
}

.toggler:focus {
    text-decoration: underline dotted;
    text-decoration-skip-ink: auto;
}

$faq-border: .1rem solid $color-text;

.title {
    border-top: $faq-border;
}

.icon {
    transition: .5s ease;
    transform: rotate(0deg);
}

.expanded .icon {
    transform: rotate(-180deg);
}

.expanded .toggler {
    font-weight: bold;
}

.content {
    margin: 0;
}
