@import "../variables";

.main {
    border-radius: .3rem;
    padding: .3rem;
    border: 1px solid #ced4da; // FIXME
    margin: .2rem 0;
}

.main:focus {
    outline:none;
    border-color: #b3d1cf; //FIXME
    box-shadow: 0 0 0 .2rem rgba(#b3d1cf, .25); // FIXME
}

.invalid {
    border-color: $color-error;
}

.invalid:focus {
    box-shadow: 0 0 0 .2rem rgba($color-error, .25);
}
