.main {
    position: relative;
}

.sizer {
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.images {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
}
