@import "../media";
@import "../variables";

$background: $color-text;

.main {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: $z-index-fixed;

    background-color: $background;
    transition: background-color .5s ease;
}

.shrunk {
    background-color: transparent;

    @include md {
        background-color: $background;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand {
    font-size: 1.1em;
    padding: 0.8rem;
}

.toggle {
    display: none;

    @include md {
        display: block;
    }
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;

    @include md {
        flex: 1 1 100%;
        flex-direction: column;

        overflow: hidden;
        transition: .5s ease;
    }
}

.menuHidden {
    @include md {
        max-height: 0;
    }
}
