@import "../media";
@import "../variables";

$background: $color-text;

.main {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: $z-index-fixed;

    background-color: $background;
    transition: opacity .5s ease;

    font-family: $font-heading;
}

.shrunk {
    opacity: 0;

    @include md {
        opacity: 1;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand {
    font-size: 1.1em;
    padding: 0.8rem;
}

.toggle {
    display: none;

    border: 1px solid $color-primary;
    font-size: 1.2em;
    margin: .3rem;
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    border-radius: .3rem;

    @include md {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.toggle:hover, .toggle:focus {
    border-color: lighten($color-primary, 20%);
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;

    @include md {
        flex: 1 1 100%;
        flex-direction: column;

        overflow: hidden;
        transition: .5s ease;
    }
}

.menuHidden {
    @include md {
        max-height: 0;
    }
}

.navItem {
    display: flex;
}

.link {
    color: $color-primary;
    transition: opacity .5s ease;
}

.link:hover, .link:focus {
    color: lighten($color-primary, 20%);
    text-decoration: none;
}

.shrunk .link {
    opacity: .7;

    @include md {
        opacity: 1;
    }
}

.navLink {
    width: 100%;

    padding: 1rem 1rem .75rem;
    border-bottom: .25rem solid transparent;
}

.active {
    border-color: $color-primary;
}
