@import "../variables";

.main {
    display: flex;
}

.link {
    width: 100%;

    padding: 1rem 1rem .75rem;
    border-bottom: .25rem solid transparent;

    color: lighten($color-primary, 20%);
}

.link:hover, .link:focus {
    text-decoration: none;
    color: $color-primary;
}

.active {
    border-color: $color-primary;
}
