@import "../variables";

.main {
    border-radius: .3rem;
    padding: .3rem;
    border: 1px solid $color-input-border;
    background-color: $color-input-background;
    margin: .2rem 0;
    color: $color-text;
}

.main:focus {
    outline: none;
    border-color: $color-input-border-active;
    box-shadow: $shadow-input-active;
}

.invalid {
    border-color: $color-error;
}

.invalid:focus {
    box-shadow: $shadow-input-error;
}

.area {
    min-height: 8em;
    resize: vertical;
}

.main:disabled {
    cursor: not-allowed;
    background-color: $color-input-disabled;
}
