@import "../variables";

.main {
    border-radius: .3rem;
    padding: .3rem;
    border: 1px solid $color-input-border;
    background-color: $color-input-background;
    margin: .2rem 0;
}

.main:focus {
    outline: none;
    border-color: $color-input-border-active;
    box-shadow: $shadow-input-active;
}

.invalid {
    border-color: $color-error;
}

.invalid:focus {
    box-shadow: $shadow-input-error;
}

.errorIcon {
    color: $color-error;
    position: absolute;
}

.area {
    height: 8em;
}
