@import "../variables";

$radius: .5rem;
$color-font: #ffffff;

.main {
    display: flex;

    min-width: 80%;
    border-radius: $radius;
}

.itemWrapper {
    background-color: $color-text;

    flex: 1 0 auto;
    display: flex;
    justify-content: center;

    padding: $radius;
}

.itemWrapper:first-child {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.label {
    color: fade-out($color-font, .2);
}

.content {
    margin: 0;
    color: $color-font;
    font-size: 1.2em;
}

.action {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: $radius;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;

    text-align: center;
    vertical-align: middle;

    background-color: $color-primary;
    color: $color-text;
}

.action:hover, .action:focus {
    background-color: saturate($color-primary, 15%);
    text-decoration: none;
}

.icon {
    margin-left: 1ex;
    transform: translateX(0);
    transition: .3s ease;
}

.action:hover .icon {
    transform: translateX(1ex);
}
