.main {
    display: flex;
}

.image {
    flex: 1 1 0;
}

.image:not(:hover) .costume {
    display: none;
}

.image:hover .civil {
    display: none;
}

.text {
    flex: 2 1 0;
    padding-left: .5rem;
}

.title {
    font-size: 1.7em;
}
