@import "../media";
@import "../variables";

$mask: #000000;

.main {
    height: 100vh;
    position: relative;
}

.background {
    height: 125%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.image {
    height: 100%
}

.image .image:after, .image:before {
    mask-image: linear-gradient(#{fade-out($mask, 0)} 0%, #{fade-out($mask, 0)} 80%, fade-out($mask, 1) 100%);
}

.container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 6em;
    margin: 0;

    font-family: 'Pirata One', sans-serif;
    letter-spacing: .05em;

    color: darken($color-text, 10%);
    text-shadow: .15rem .1rem fade-out(white, .7);

    @include md {
        font-size: 4em;
    }

    @include sm {
        font-size: 3em;
    }
}

.title_ {
    font-size: 6em;
    margin: 0;
    white-space: nowrap;

    font-family: 'Pirata One', sans-serif;
    letter-spacing: .05em;

    color: black;


    @include md {
        font-size: 4em;
    }

    @include sm {
        font-size: 3em;
    }
}
