@import "../media";
@import "../variables";

$mask: #000000;

.main {
    height: 115vh;
    position: relative;
}

.background {
    height: 125vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.image {
    height: 100%
}

.image .image:after, .image:before {
    mask-image: linear-gradient(#{fade-out($mask, 0)} 0%, #{fade-out($mask, 0)} 80%, fade-out($mask, 1) 100%);
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleWrapper {
    display: inline-block;
}

.summaryWrapper {
    display: flex;
    margin: 1rem 0;
}

.summary {
    flex: 1 1 0;
}

$sh-in: .005em;
$sh-out: .015em;
$text-shadow: $sh-out $sh-out $sh-out fade-out($color-title-text, .3), #{-$sh-in} #{-$sh-in} $sh-in fade-out($color-title-text, .3);

.title {
    font-size: 7em;
    margin: 0;

    font-family: 'Pirata One', sans-serif;
    letter-spacing: .05em;

    color: darken($color-text, 10%);
    text-shadow: $text-shadow;

    @include md {
        font-size: 4.5em;
    }

    @include sm {
        font-size: 3.5em;
    }
}

.subtitle {
    color: darken($color-text, 10%);
    text-shadow: $text-shadow;
    font-size: 2em;
    margin: 0;

    @include md {
        font-size: 1.2em;
    }
}
