@import "../media";
@import "../variables";

$mask: #000000;

.main {
    height: 100vh;

    @include md {
        height: auto;
        padding: 15rem 0;
    }
    mask-image: linear-gradient(#{fade-out($mask, 0)} 0%, #{fade-out($mask, 0)} 75%, fade-out($mask, 1) 100%);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 6em;
    margin: 0;
    white-space: nowrap;

    font-family: 'Pirata One', sans-serif;
    letter-spacing: .05em;

    color: black;
    text-shadow: .2rem .2rem fade-out(white, .7);

    @include md {
        font-size: 4em;
    }

    @include sm {
        font-size: 3em;
    }
}

.subtitle {
    color: black;
    text-shadow: .2rem .2rem fade-out(white, .7);

    font-size: 2em;
    margin: 0 0 1rem 0;

    @include sm {
        font-size: 1.5em;
    }
}
