@import "../media";

.main {
    display: flex;

    @include md {
        flex-direction: column;
    }
}

.content {
    flex: 1 1 0;

    @include lg-only {
        flex-grow: 2;
    }
}

.wrapper {
    flex: 1 1 0;
    position: relative;
}

.gallery {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;

    @include md {
        position: relative;
        flex-direction: row;
    }

    @include sm {
        flex-direction: column;
    }
}

.image {
    position: relative;

    width: 50%;

    @include lg-only {
        width: 100%;
    }

    @include md {
        &:nth-child(n+3) {
            display: none;
        }
    }

    @include sm {
        width: 100%;
    }
}
