$z-index-fixed: 1030;

$color-background: #cfba9b;
$color-text: #3D2B1F; // bistre;

$color-primary: #cd9b27;
$color-error: #dc3545;

$color-input-background: white;
$color-input-border: #ced4da;
$color-input-border-active: #b3d1cf;
$color-input-disabled: #dddddd;

$shadow-input-active: 0 0 0 .2rem rgba($color-input-border-active, .25);
$shadow-input-error: 0 0 0 .2rem rgba($color-error, .25)
